.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
/* ****  sembra non vada!!!   **** */
/*  script per inserire testo in una immagine [https://gist.github.com/petehouston/85dd33210c0764eeae55#file-style] */


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .8rem 0;
}
/* ****  sembra non vada!!!   **** */
/*  https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local#step */