#intestazione{
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
    font-size: 32px;
}

.text-red{
    color: red;
}

.text-bold{
    font-weight: bold;
}

.hg-yellow{
    background-color: yellow;
}

.mt5{
    margin-top: 5%;
}

.mb5{
    margin-bottom: 5%;
}
