.bg-turchese-dark{
    background-color: #04738a;
}

.footer {
    height: 5%;
    bottom: 0;
    position: fixed;
    width: 100%;
    clear: both;
    background-color: #37474F;
    color: white;
    z-index: 1;
}

.my-minh-256{
    min-height: 256px;
}